<div class="container">
  <nav class="fs-6 p-3 container mt-2 p-2 bio">
    <div class="row">
      <%= link_to "Home", root_path, class: "btn btn-primary d-flex justify-content-center align-self-center mb-5 button display" %>
      <%= link_to "See all Blogs", user_posts_path(@user.id), class: "btn btn-primary d-flex justify-content-center align-self-center mb-5 button display" %>
      <%= link_to "Create Blog", new_user_post_path(@user.id), class: "btn btn-primary d-flex justify-content-center align-self-center mb-5 button display" %>
    </div>
  </nav>
  <%= render partial: "user_profile", locals: {user: @user} %>
  <div style="margin-left: 10rem;">
    <% if @user.posts.present? %>
      <h3 style="">Blogs:</h3>
    <% end %>
  </div>
  <ul class="recent-posts">
    <% @user.posts.each do |p| %>
      <li class="border border-1 border-dark container p-2 my-5 bio" >
        <div>
          <div>
            <%= link_to user_post_path(@user.id, p.id), id: "user_post#{p.id}" do %>
              <h4 class="py-4"><%= p.title %></h4>
            <% end %>
            <p><%= p.text.truncate(54) %> </p>
          <div>
          <div class="social-metrics d-flex justify-content-end gap-2 mr-3">
            <span>Comments: <%= p.comments.size %></span>
            <span>Likes: <%= p.likes.size %></span>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
</div>